<%= turbo_stream_from 'imports' %>

<p style="color: green"><%= notice %></p>

<h1>Imports</h1>

<%= button_to 'Test Import', imports_path, class: 'btn btn-primary my-4' %>

<div id="imports" class="row g-4">
  <% @imports.each do |import| %>
    <%= render partial: 'imports/import', object: import %>
  <% end %>
</div>
